<app-template-full-width title="List Orders" *ngIf="collection$ | async as collection">
 <app-table-light [headers]="headers">
  <tr *ngFor="let item of collection">
    <td>
      <app-icon-edit (click)="goToEdit(item.id)"></app-icon-edit>
    </td>
    <td>{{ item.typePresta }}</td>
    <td>{{ item.client | uppercase }}</td>
    <!-- pipe pourcentages -->
    <td>{{ item.tva/100 | percent }}</td>
    <!-- pipe number:'format' avec format: 1 pour nombre mini avant la virgule,
          2 pour nombre mini après la virgule
        -x si besoin pour nb maxi après la virgule -->
    <td [ngClass]="{'ko': item.nbJours< 10, 'ok':item.nbJours>=10}">{{ item.nbJours | number:'1.2-2' }}</td>
    <td>{{ item.tjmHt | currency }}</td>
    <td>{{ item.nbJours | total: item.tjmHt | currency }}</td>
    <td>{{ item.nbJours | total: item.tjmHt: item.tva | currency }}</td>
    <!-- affichage des 20 premiers caractères du commentaire -->
    <td>{{ item.comment | noComment: 20}}</td>
    <!--<td>{{ item.state }}</td>-->
    <td [appState]="item.state">
      <select (change)="changeState(item, $event)">
        <option *ngFor="let state of states" [value]="state" [selected]="item.state === state">
          {{ state }}
        </option>
      </select>
    </td>
  </tr>
 </app-table-light>
  <app-btn route="add" label="Add an Order"></app-btn>
</app-template-full-width>
